<h1>This is where my models live</h1>

{% if request.user.is_authenticated %}
    <p>Welcome, {{user.username}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <p>Not a user?</p>
    <a href="{% url 'login'%}">Login</a>
{% endif %} 

<a href="{% url 'form' %}">Create Post</a>
 {% for blog in blogs %}
    <h1>{{blog.title}}</h1> <p>{{blog.pub_date}}</p>
    {% if user == blog.user %} <a href="{% url 'edit' blog.id %}">edit</a> -- <a href="{% url 'delete' blog.id %}">delete</a>{% endif %}
    <p>{{blog.text_content}}</p>
    <p>{{blog.user.username}}</p>


 {% endfor %}