<h1>This is where my models live</h1>

{% if request.user.is_authenticated %}
    <p>Welcome, {{user.username}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <p>Not a user?</p>
    <a href="{% url 'login'%}">Login</a>
{% endif %} 

<a href="{% url 'form' %}">Create Post</a>
 {% for blog in blogs %}
    <h1>{{blog.title}}</h1> <p>Published: {{blog.pub_date}}</p>
    {% if user == blog.user %} <a href="{% url 'edit' blog.id %}">edit</a> -- <a href="{% url 'delete' blog.id 'blog' %}">delete</a>{% endif %}
    <p>{{blog.text_content}}</p>
    <p>{{blog.user.username}}</p>
    <a href="{% url 'comment' blog.id%}">comment</a>

    {% if blog.comments.exists %}
        <ul>
            {% for comment in blog.comments.all %}
            <li>
                <strong>{{ comment.user.username}}</strong> <br> {{ comment.text_content }}
                <br>
                <small>Published on: {{ comment.pub_date}}</small>
                <br>
                {% if user == comment.user %} <a href="{% url 'delete' comment.id 'comment' %}">delete</a>{% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>no comments</p>
    {% endif %}


 {% endfor %}