{% extends "testing_grounds/header.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static tailwind_tags %}


 <!-- login page -->
 <ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% if page == 'login'%}
 <div class="containe d-flex justify-content-center align-items-center vh-100">
    <form action="" method="POST">
        {% csrf_token %}
        <h1 class="text-xl">Login</h1>
        <br>
        <label>Username</label>
        <br>
        <input type="text" name="username" placeholder="Enter Username">
        <br>
        <br>
        <label>Password</label>
        <br>
        <input class="space-y-2" type="password" name="password" placeholder="Enter Password">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
        <br>
        <p class="pt-3">-- or --</p>
        
        <p class="pt-3">need an account?</p>
        <a href="{% url 'register' %}" class="btn btn-primary">sign-up</a>
          
    </form>
 </div>
{% else %}
<!-- register page-->
 <div class= "container "style="width: 500px;">
    <h1>Register</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy}}

        <input class="btn btn-primary p-2"type="submit" value="Register">

    </form>
    <p>already have an account?</p>
    <a class="btn btn-primary p-2"href="{% url 'login' %}">login</a>
 </div>
 {% endif %}
 {% endblock %}