<h1>this is {{user.username}}'s Profile Page</h1>

<div class = folder>
    <p>Create Folder</p>
    <form action="{% url 'create_folder' %}" method="POST">
        {% csrf_token %}
        {{folder_form.as_p}}
        <button type="submit">Create Folder</button>
    </form>
</div>


<div class="folders">
    <h1>Folder - list </h1>
    {% for folder in folders %}
        <li>
            <strong>{{folder.name}}</strong>
            <ul>
                {% for blog in folder.blogs.all %}
                    <li><a href="{% url 'reader' blog.id %}">{{ blog }}</a></li>
                {% endfor %}
            </ul>
        </li>
    
        
    {% endfor %}
</div>

