option_settings:
  aws:elasticbeanstalk:environment:proxy:listener:
    ListenerEnabled: true
    ListenerProtocol: HTTPS
  aws:elasticbeanstalk:environment:proxy:nginx:
    ProxyServerType: nginx
    SSLCertificateId: arn:aws:acm:us-west-2:347084377830:certificate/f6dc7bf2-124e-4f7f-8415-148bd10bccfd
