container_commands:
  01_install_certbot:
    command: "sudo amazon-linux-extras install epel -y && sudo yum install -y certbot python3-certbot-nginx"

  02_obtain_cert:
    command: |
      sudo certbot certonly --nginx \
      -d blogsforthecriminallyinsane.com \
      -d www.blogsforthecriminallyinsane.com \
      --non-interactive --agree-tos \
      -m atticus.ezis@gmail.com

  03_reload_nginx:
    command: "sudo service nginx reload"
